/* ----------------------  */
/* Reset                   */
/* ----------------------  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/* https://wordpress.com/theme/lativ?tab_filter=recommended */

/***************/
/* Body Settup */
/***************/
body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #0b303b;
}

/***************/
/* Elements    */
/***************/

section {
  background: linear-gradient(
    127deg,
    rgb(190, 185, 242) 0%,
    rgb(197, 180, 217) 29%,
    rgb(252, 217, 210) 65%,
    rgb(197, 180, 217) 100%
  );
  padding-top: 2rem;
}

section:nth-of-type(2) {
  background: #0b303b;
}

/* .page-container {
  width: 85%;
  margin: 0 auto;
} */

/***************/
/* Header      */
/***************/

header {
  width: 85%;
  margin: 0 auto;
}

.page-nav {
  background-color: #fef4ee;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  /* position: fixed; */
}

.page-nav__logo {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 800;
}

#page-nav__mobile-button {
  align-self: center;
}

.page-nav__list {
  display: none;
  /* display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fef4ee;
  justify-content: flex-end; */
}

@media (min-width: 768px) {
  #page-nav__mobile-button {
    display: none;
  }

  .page-nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
  }

  .page-nav__list > li {
    display: inline-block;
  }

  .page-nav__list > li > a {
    text-decoration: none;
  }

  .page-nav__list > li:not(:first-child) {
    margin-left: 0.5rem;
  }

  .page-nav__dropdown-button {
    border: none;
    background-color: inherit;
  }
}

.page-nav__button {
  background-color: #0b303b;
  border: none;
  border-radius: 3rem;
  padding: 1rem 2rem;
}

.page-nav__button > a {
  text-decoration: none;
  color: #fef4ee;
}

.page-nav__dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fef4ee;
  padding: 0.5rem;
  border: 1px grey solid;
  position: absolute;
  right: 0rem;
  list-style-type: none;
}

.page-nav__dropdown > li > a {
  text-decoration: none;
  white-space: nowrap;
}

/***************/
/* Homepage    */
/***************/

.section-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 3rem;
}

.homepage__heading {
  text-align: center;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(2.876rem, 2.876rem + ((1vw - 0.2rem) * 4.036), 5.6rem);
  text-wrap: balance;
}

.homepage__subheading {
  text-align: center;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.37), 1.25rem);
}

.homepage__company-tray-heading {
  font-weight: 500;
  text-align: center;
}

.homepage__card-heading {
  margin-top: 6rem;
  text-align: center;
  font-size: clamp(1.75rem, 1.75rem + ((1vw - 0.2rem) * 0.37), 2rem);
}

.homepage__card-tray {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homepage__card-tray h3 {
  font-weight: 300;
  font-size: clamp(1.75rem, 1.75rem + ((1vw - 0.2rem) * 0.37), 2rem);
  margin-top: 1rem;
}

.homepage__card-tray img {
  width: 180px;
  height: auto;
}

.homepage__card-tray p {
  font-size: clamp(0.825rem, 0.825rem + ((1vw - 0.2rem) * 0.353), 1.0625rem);
  margin-top: 1rem;
}

.homepage__card-one {
  background-color: #e2fdc7;
  padding: 2rem;
  border-radius: 1rem;
}

.homepage__card-two {
  color: #fef4ee;
  background-color: #0b303b;
  padding: 2rem;
  border-radius: 1rem;
}

.homepage__card-three {
  color: #fef4ee;
  background-color: #5454d2;
  padding: 2rem;
  border-radius: 1rem;
}

@media (min-width: 920px) {
  .homepage__card-tray {
    flex-direction: row;
  }
}

.section-container-two {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 3rem;
  color: #fef4ee;
}

/***************/
/* Footer      */
/***************/

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}
.page-footer__box > h3 {
  font-size: 1rem;
}
.page-footer__box > ul {
  list-style-type: none;
  padding: 0;
}

.page-footer__box > ul > li:not(:first-child) {
  margin-top: 0.5rem;
}

.page-footer__box > ul > li > a {
  text-decoration: none;
}

.page-footer__icon-tray {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

/***************/
/* Utilities   */
/***************/

.display-none {
  display: none;
}

hr {
  background-color: black;
  border-width: 0;
  padding-top: 1px;
  margin: 5rem 0px;
}
